<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-menu-toggle>
      <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      </ion-menu-toggle>
  </ion-buttons>
  <ion-title>AutoPeças Fusca Azul</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header> Controle de Estoque de Produtos </ion-list-header>
    <ion-item *ngFor="let produto of produtos">    
      <ion-label [routerLink]="['/edita-produto',produto.cod]">
        <h2 [ngClass]="{'red' : produto.red, 'orange' : produto.orange}">({{ produto.cod }}) {{ produto.descricao }} {{ produto.qtdDisponivel }}/{{ produto.capMaxima }} (min: {{ produto.qtdMinima }})</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
