<ion-app>
  <ion-split-pane when='sm' contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>AutoPeças Fusca Azul</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-list-header>
            Bem Vindo Victor!
          </ion-list-header>         
          <ion-menu-toggle auto-hide='false'>
            <ion-item routerLink="/listar-produtos">
              <ion-icon slot='start' name="cog"></ion-icon>
              <ion-label>
                Listagem de Peças
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id='main-content'></ion-router-outlet>
  </ion-split-pane>
</ion-app>
